button {
    box-shadow: 1px 1px 0 black;
}

input {
    box-shadow: 1px 1px 0 black;
}

.app {
    animation: fade-in 0.25s ease-in;
    text-align: center;
}

.header {
    box-shadow: 0 1px 0px black;
    height: 5em;
    padding: 0.01em;
}

.footer {
    box-shadow: 0 -1px 0px black;
    background-color: #485563;
    height: 100px;
}

.main {
    animation: fade-in 1s linear;
    padding: 1em;
}

.sentence-count-controls {
    height: 80px;
}

.output-view {
    overflow-wrap: break-word;
    overflow-y: auto;
}

.output-view-text {
    animation: fade-in 1s;
    color: white;
    font-family: serif;
    font-style: italic;
    justify-content: left;
    text-align: center;
    text-shadow: 4px 4px 20px black;
}

.source-view {
    animation: fade-in 1s;
    background-color: #2B3E50;
    border: 5px white solid;
    border-radius: 100px;
    box-shadow: 3px 3px 0px black;
    display: inline-block;
    height: 100%;
    padding: 20px;
}

.form-control {
    width: auto;
}

.flipped {
    transform: rotate(180deg);
}

.spin {
    animation: spin 1s linear infinite;
}

.popover {
    animation: fade-in 0.25s ease-in;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}